<a href="https://colab.research.google.com/github/Phaneesh-433/Computational-Statistics/blob/main/CSSL_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [47]:
a =5 #Integer
var1 = 10.0 #Floating point
str_var='Alex' #String

In [48]:
type(str_var)

str

In [49]:
num1 = 1
num2 = 3
num3 = num1/num2 #finite precision of floats
num3

0.3333333333333333

#Operators

In [50]:
p = num1+num2 #Addition
q = num1-num2 #Subtraction
r = num1*num2 #Muultiplication
s = num1/num2 #Division
t = num1//num2 #floor division
u = num1%num2 #Modulo
print(t,u)

0 1

In [51]:
l = [3,4,5,1] #list of ints
l2 = [3.5,4.3,5.7,9.6] #list of floats
l3= ['string',3,4.5,False,3<5]
l3

['string', 3, 4.5, False, True]

In [52]:
dif_l = l+l2 #appending lists
dif_l

[3, 4, 5, 1, 3.5, 4.3, 5.7, 9.6]

#Excercise
##Take list of scores i.e 65, 70, 90, 85 and calculate avg

In [53]:
cl = [65,70,90,85]
avg = sum(cl)/len(cl)
ma = max(cl)
mi = min (cl)
print(f'The average score is {avg} and maximum score is {ma} and minimum is {mi}')
print('The average score is %.1f and the maximum is %d and minimum is %d' %(avg,ma,mi))

The average score is 77.5 and maximum score is 90 and minimum is 65
The average score is 77.5 and the maximum is 90 and minimum is 65

#Funtions and if

In [58]:
def student(score):
  '''This is a function that checks if a student has passed
  the pass mark is 40 '''
  if score>=40:
    #print('pass')
    return "pass"
  else:
    #print('fail')
    return "fail"

student(33)

fail

'fail'

##For loop

In [60]:
for i in cl:
  print(f'i={i} {student(i)}')

pass
i=65 pass
pass
i=70 pass
pass
i=90 pass
pass
i=85 pass

##Homework:
#Write a function to calculate the grades and return the grade

In [67]:
score_dict = {"Alex": cl[0], "Nandini":cl[1], "Trusha": cl[2], "Mohammed": cl[3]}
score_dict

{'Alex': 65, 'Nandini': 70, 'Trusha': 90, 'Mohammed': 85}

 Use this dictionary along with for loop to print the name and the score of the student
 You can also tru calculating the greade of each steudnet inside the for block

## Numpy

In [63]:
np.array(l)

array([3, 4, 5, 1])

In [4]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])